---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section aria-labelledby="blog-heading">
        <h1 id="blog-heading">Latest Posts</h1>
        <ul>
          {
            posts.map((post) => (
              <li>
                <article>
                  <header>
                    <h3>
                      <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                    </h3>
                    <p class="date">
                      <time datetime={post.data.pubDate.toISOString()}>
                        <FormattedDate date={post.data.pubDate} />
                      </time>
                    </p>
                  </header>
                  {post.data.heroImage && (
                    <a href={`/blog/${post.id}/`}>
                      <Image
                        style="width: 100%; height: auto; max-width: 600px; margin-inline: auto; display: block;"
                        src={post.data.heroImage}
                        alt={`Hero image for ${post.data.title}`}
                      />
                    </a>
                  )}
                </article>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
